.footer {
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

/* Style cho phần footer bên trái (left-footer) */
.left-footer {
    display: flex;
    align-items: center;
}

.left-footer .social-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
}

/* Style cho phần footer bên phải (right-footer) */
.right-footer {
    display: flex;
    align-items: center;
}

.right-footer .contact-info p {
    margin: 10px;
}

.right-footer .additional-info p {
    margin: 10px;
}